@import url('https://fonts.googleapis.com/css?family=Lato|Poppins:600,700');

$block_width: 15vw;
$block_height: 45vh;
html, body {
    margin: 0;
    width: 100%;
    height: 100vh;      //the same at app doesn't work, in app this 
    overflow: hidden;   //makes my app container higher than screen (idk why)
} 
p {
    font-family: 'Lato';
    font-weight: 500;
}
h1 {
    font-family: 'Poppins';
    font-weight: 600;
}
.App {

    background-image: linear-gradient(to left bottom, #424259, #3e4058, #393f57, #353d56, #303c55);
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    .rest-left {
        left: -15vw;
        z-index: 10;
    }
    .second-left {
        left: -2.5vw;
        z-index: 10;
    }
    .first-left {
        left: 20vw;
        z-index: 10;
    }
    .center {
        left: calc(50vw - #{$block_width}/2);
        z-index: 100 !important;        
    }
    .first-right {
        left: 65vw;
        z-index: 30;
    }
    .second-right {
        left: 87.5vw;
        z-index: 10;
    }
    .rest-right {
        left: 100vw;
        z-index: 10;
    }
    .block {
        background-color: white;
        color: #303c55;
        cursor: pointer;
        box-sizing: border-box;
        width: $block_width;
        height: $block_height;
        position: absolute;
        padding: 10px;
        top: calc(50vh - #{$block_height/2});
        display: flex;
        justify-content: space-around;

        transition: all 0.9s, outline 0s;
        .text {
            position: relative;
            top: 10%;
            display: flex;
            flex-flow: column nowrap;
            align-items: center;
            h1 {
                margin: 0;
                transition: all 0.9s;
                font-size: 2em;
                letter-spacing: 0.1vw !important;
            } 
            p {
                transition: all 0.9s;
                font-size: 1em;
                padding: 0 20px;
            }
        } 
        &:hover {
            outline: 3px dashed red;
        }
    }
    .covering {
        z-index: 60;
    }
    .focused {
        padding: 20px !important;
        left: calc(50vw - #{$block_width}) !important;  
        top: calc(50vh - #{$block_height}) !important;
        width: calc(#{$block_width} *2) !important;
        height: calc(#{$block_height} *2) !important;
        z-index: 100;
        h1 {
            font-size: 4em !important;
            letter-spacing: 0.6vw !important;
        }
        p {
            font-size: 2em !important;
        }
    }
}


